
.popUpWindowWrapper {
  font-size: var(--ref-size);
  background-color: var(--tertiary-shade);
  display: flex;
  flex-direction: column;
  margin: 1.375em;
  padding-bottom: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0 0 1.25em var(--primary-shade);
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}

.popUpWindowWrapper>.textStyleWrapper {
  background-color: var(--primary-color);
  flex: 0 0 3.75em;
  border-radius: 0.625em 0.625em 0 0;
  display: flex;
  justify-content: center;
}

.popUpWindowWrapper>.textStyleWrapper p {
  color: var(--tertiary-shade);
  font-size: var(--big-p-size);
  line-height: 1.2;
  font-weight: var(--avg-weight);
}

.popUpWindowWrapper .xCarouselFullContainer{
  flex: 1 1 100%;
  padding-inline: 0.625em;
}

.popUpWindowWrapper .xCarouselArrowsAndViewportContainer {
  flex: 1 1 100%;
}

.popUpWindowWrapper .xCarouselViewport {
  flex: 1 1 100%;
  max-width: 100%;
  height: 100%;
}

.popUpWindowWrapper .xCarouselElement {
  display: flex;
  align-items: center;
}


.popUpWindowWrapper .xCarouselElement>.textStyleWrapper,
.popUpWindowWrapper .xCarouselElement>.imageWrapper {
  height: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
}

.popUpWindowWrapper .xCarouselElement>.textStyleWrapper {
  justify-content: center;
}

.popUpWindowWrapper .xCarouselElement>.imageWrapper>img {
  object-fit: contain;
}


/* 

.infoWindowCarouselContainer .xCarouselViewport {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}

.infoWindowCarouselContainer .xCarousel {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.infoWindowCarouselContainer .xCarouselElement {
  min-height: 100%;
  height: 100%;
  max-height: 15.907em;
  flex: 0 1 50%;
  min-width: 50%;
} */

/* */
/* IMPORTANT: ensures carousel elements are the same size */
/* 


.infoWindowCarouselContainer>.horizontalCarouselControlsWrapper>*:first-child,
.infoWindowCarouselContainer>.horizontalCarouselControlsWrapper>*:last-child,
.infoWindowCarouselContainer .indexSelectorControls>* {
  display: none;
}


@media (max-width: 106.25rem) {

  .infoWindowCarouselContainer>.horizontalCarouselControlsWrapper>*:first-child,
  .infoWindowCarouselContainer>.horizontalCarouselControlsWrapper>*:last-child,
  .infoWindowCarouselContainer .indexSelectorControls>* {
    display: flex;
  }

  .infoWindowCarouselContainer .xCarousel {
    width: fit-content;
    max-width: fit-content;
  }

  .infoWindowCarouselContainer .xCarouselElement {
    flex: 1 1 auto;
    min-width: fit-content;
  }

}

@media (max-width: 33.875rem) {

  .infoWindowCarouselContainer .xCarousel {
    min-width: 200%;
    max-width: 200%;
  }

  .infoWindowCarouselContainer .xCarouselElement {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .infoWindowCarouselContainer .xCarouselElement>.textStyleWrapper,
  .infoWindowCarouselContainer .xCarouselElement>.imageWrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

} */