.textStyleWrapper {
  font-size: var(--ref-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.625em;
}

.textStyleWrapper>h1 {
  font-size: var(--h1-size);
  font-weight: var(--light-weight);
  color: var(--primary-shade);
}

.textStyleWrapper>h2 {
  font-size: var(--h1-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
}

.textStyleWrapper>h3 {
  font-size: var(--h2-size);
  font-weight: var(--light-weight);
  color: var(--primary-shade);
}

.textStyleWrapper>h4 {
  font-size: var(--h2-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
}

.textStyleWrapper>h5 {
  font-size: var(--h4-size);
  font-weight: var(--light-weight);
  color: var(--primary-shade);
}

.textStyleWrapper>h6 {
  font-size: var(--h4-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
}

.textStyleWrapper>span {
  display: block;
  font-size: var(--p-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
}

.textStyleWrapper>p {
  font-size: var(--p-size);
  font-weight: var(--avg-weight);
  color: var(--primary-shade);
}

.textStyleWrapper>h1+p,
.textStyleWrapper>h1+span,
.textStyleWrapper>h2+p,
.textStyleWrapper>h2+span {
  font-size: var(--h5-size);
  margin-block: 1.25em;
}

.textStyleWrapper>h3+p,
.textStyleWrapper>h3+span,
.textStyleWrapper>h4+p,
.textStyleWrapper>h4+span {
  font-size: var(--h6-size);
  margin-block: 0.625em;
}

.textStyleWrapper>h5+p,
.textStyleWrapper>h5+span,
.textStyleWrapper>h6+p,
.textStyleWrapper>h6+span {
  font-size: var(--p-size);
  margin-block: 0.375em;
}