.horizontalCarouselControlsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 25em;
}

/* left/right arrow buttons */
.horizontalCarouselControlsWrapper>*:first-child,
.horizontalCarouselControlsWrapper>*:last-child {
  max-width: 2.5em;
  max-height: fit-content;
  margin-inline: 0.625em;
  cursor: pointer;
}
