.pageSectionWrapper {
  padding-inline: 0;
  flex-direction: column;
}

.pageSectionWrapper>.textStyleWrapper {
  padding-inline: 1.25em;
}

.pageSectionWrapper>.textStyleWrapper>p {
  font-size: var(--h5-size);
}