.pageSectionWrapper {
  flex-direction: column;
}

.slidersWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25em;
  overflow: hidden;
}

.slidersWrapper>.sliderParent {
  width: 100%;
  display: flex;
  margin-block: 1.25em;
  overflow: hidden;
}

.slidersWrapper>.sliderParent:first-child {
  justify-content: flex-start;
}

.slidersWrapper>.sliderParent:last-child {
  justify-content: flex-end;
}

.slider {
  display: flex;
  padding-inline: 5em;
  gap: min(15dvw, 10em);
}


.slider>.imageWrapper {
  width: 10em;
  height: 5em;
}

.slider>.imageWrapper>img {
  object-fit: contain;
}
