.listItemWrapper {
  cursor: pointer;
  padding-block: 0.625em;
  padding-left: 0.375em;
  border-top: 0.0625em solid var(--primary-color);
  transition: all linear 0.15s;
  max-width: var(--doc-width);
  margin-inline: auto;
}

.listItemWrapper:first-of-type {
  border-top: none;
}

.listItemWrapper:hover,
.listItemWrapper.active {
  transform: scale(1.01);
  padding-block: 1.25em;
}

.listItemWrapper>.bulletWrapper {
  margin: 0;
}

.listItemWrapper>.textStyleWrapper {
  width: 100%;
  min-height: 2.25em;
  gap: 0;
  align-items: flex-start;
  will-change: transform;
  transition: gap linear 0.15s 0.5s;
}

.listItemWrapper.active>.textStyleWrapper {
  gap: 0.625em;
  transition: gap linear 0.15s;

}

.listItemWrapper>.textStyleWrapper>* {
  text-align: start;
}

.listItemWrapper>.textStyleWrapper>:first-child {
  font-size: var(--h6-size);
  min-height: 2.625em;
  display: flex;
  align-items: center;
}


.listItemWrapper>.textStyleWrapper>:nth-child(2) {
  font-size: var(--h6-size);
  max-height: 0em;
  opacity: 0;
  transition: opacity linear 0.5s, max-height linear 0.5s;
  overflow: hidden;
}

.listItemWrapper.active>.textStyleWrapper>:nth-child(2) {
  opacity: 1;
  max-height: 20em;
  /* overflow: visible; */
}