.listItemWrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 1.25em;
}

.listItemWrapper>div {
  display: flex;
  align-items: center;
  gap: 0.625em;
  flex-grow: 1;
}

.listItemWrapper .textStyleWrapper {
  align-items: flex-start;
  flex-grow: 1;
  gap: 0.375em;
}

.listItemWrapper .textStyleWrapper>* {
  text-align: start;
}

@media (max-width: 31.25rem) {

  .listItemWrapper {
    flex-direction: column;
  }

  .listItemWrapper>div {
    min-width: 100%;
  }

  .listItemWrapper>.linkButton {
    margin-block: 0.625em;
  }

  /* .listItemWrapper .textStyleWrapper {
    align-items: center;
  }
  
  .listItemWrapper .textStyleWrapper>* {
    text-align: center;
  } */

}