.rightArrowIcon {
  font-size: var(--ref-size);
  width: 2.5em;
  /* width: 5dvw;
  max-width: 2.5em; */

  aspect-ratio: 1 / 3;
  border: 0.0625em solid var(--primary-color);
  border-radius: 0.375em;
  transition: all linear 0.15s;
}

.rightArrowIcon:hover {
  border: none;
  background-color: var(--primary-color);
  box-shadow: 0 0 1.25em var(--primary-shade);
  transform: scale(1.1);
}

.rightArrowIcon>path {
  stroke: var(--primary-color);
  stroke-width: 3;
}

.rightArrowIcon:hover>path {
  stroke: var(--tertiary-shade);
}