.submissionResultsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.submissionResultsInfo>h3 {
  text-align: center;
  font-size: var(--heading-font-size);
  margin-inline: 10px;
}

.submissionResultsInfo>h4 {
  text-align: center;
  margin-inline: 10px;
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  color: var(--primary-color);
}

.submissionResultsInfo>p {
  font-size: var(--heading-font-size-smaller);
  text-align: center;
  max-width: 1200px;
}

.loadingSpinnerContainer {
  margin-block: 60px;
}