.yCarouselViewport {
  font-size: var(--ref-size);
  max-height: 100dvh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0.625em;
}

.yCarousel {
  height: fit-content;
  width: 100%;
  display:  flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.yCarouselElement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  transition: opacity ease-in-out 0.30s;
}

.yCarouselElement:not(.active) {
  opacity: 0;
}

.yCarouselElement.active {
  opacity: 1;
}
