.xCarouselFullContainer {
  width: 100%;
  /* max-width: fit-content; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.xCarouselArrowsAndViewportContainer {
  width: 100%;
  max-width: 100%;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.xCarouselIndexSelectorContainer {
  width: 100%;
  height: fit-content;
}

/* --viewport width is value minus padding (4em) minus buttons (6em) */
/* --viewport width is overwritten on load/ toggling isDisplayed variable*/
.xCarouselViewport {
  --viewport-width: calc(min(var(--doc-width), 100dvw) - 4em - 6em);
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  padding: 1.25em;
}

.xCarousel {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.xCarouselElement {
  min-width: calc(var(--viewport-width)/2);
  flex: 1 1 auto;
  max-width: var(--viewport-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease-out 0.30s;
}


/* subtracting 4em for button controls and 5em for padding */
.xCarouselElement.matchesViewportWidth {
  width: var(--viewport-width);
}

.xCarouselElement:not(.active) {
  opacity: 0;
}

.xCarouselElement.active {
  opacity: 1;
}

/* .xCarouselElement.adaptiveHeight:not(.active) {
  min-height: 1px;
  max-height: 1px;
}

.xCarouselElement:first-child:not(.active) {
  min-height: fit-content;
  max-height: fit-content;
} */

.xCarouselArrowsAndViewportContainer>*:first-child,
.xCarouselArrowsAndViewportContainer>*:last-child {
  flex-shrink: 0;
  width: 1.5em;
  margin-inline: 0.5em;
  max-height: fit-content;
  cursor: pointer;
  z-index: 1;
}

/* .xCarouselArrowsAndViewportContainer>*:first-child {
  margin-left: 0.5em;
}

.xCarouselArrowsAndViewportContainer>*:last-child {
  margin-right: 0.5em;
} */