.bulletWrapper {
  font-size: var(--ref-size);
  width: 3em;
  height: 3em;
  flex-basis: 3em;
  flex-shrink: 0;
  /* margin: 0.625em; */
}


.bulletWrapper>path {
  fill: var(--primary-color);
}

.bulletWrapper>text {
  font-size: 3rem;
  fill: var(--tertiary-shade);
}
