.articleWrapper {
  /* position: relative; */
  margin: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0 0 0.375rem var(--primary-shade);
  overflow: hidden;
  cursor: pointer;
  transition: all linear 0.15s;
}

.articleWrapper:hover {
  box-shadow: 0 0 1.25em var(--primary-shade);
  transform: scale(1.02);
}

.mosaicElementContainer {
  height: 21.872em;
  width: 6.25em;
}

.mosaicElementContainer>.textStyleWrapper {
  height: 100%;
}

.mosaicElementContainer>.textStyleWrapper{
  background-color: var(--primary-color);
  height: 3.75em;
  display: flex;
  justify-content: center;
}

.mosaicElementContainer>.textStyleWrapper p {
  color: var(--tertiary-shade);
  font-size: var(--big-p-size);
  line-height: 1.2;
  font-weight: var(--avg-weight);
}

/* .mosaicElementContainer:not(.active)>.textStyleWrapper:last-child{
  color: var(--tertiary-shade);
}

.mosaicElementContainer.active>.textStyleWrapper:last-child{
  color: var(--tertiary-shade);
} */

/* .mosaicElementContainer>.textStyleWrapper:last-child {
  background-color: var(--tertiary-shade);
  opacity: 0;
}

.mosaicElementContainer:not(.active)>.textStyleWrapper:last-child{
  opacity: 0;
}

.mosaicElementContainer.active>.textStyleWrapper:last-child{
  opacity: 1;
} */