.articleWrapper {
  width: 100%;
  column-gap: 1.25em;
  row-gap: 3.125em;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  flex-wrap: wrap;
}

.articleWrapper>.textStyleWrapper {
  flex: 1 1 40ch;
  max-width: 60ch;
  justify-content: center;
}

.articleWrapper>.imageWrapper {
  flex: 3 1 35em;
  max-width: min(100%, 45em);
  aspect-ratio: 3.5/2;
  max-height: fit-content;
  box-shadow: 0 0 0.375em var(--primary-shade);
  border-radius: 1.25em;
  background-color: var(--tertiary-shade);
  margin-block: auto;
}
