
.articleWrapper {
  width: 20em;
  margin: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0 0 0.375rem var(--primary-shade);
  background-color: var(--tertiary-shade);
  transition: all linear 0.15s;
}

.articleWrapper:hover {
  box-shadow: 0 0 1.25em var(--primary-shade);
  border: none;
  background-color: var(--tertiary-shade);
  transform: scale(1.02);
}

.articleWrapper>a {
  text-decoration: none;
}

.articleWrapper>a>.imageWrapper {
  width: 100%;
  aspect-ratio: 7 / 4;
  border-radius: 0.625em 0.625em 0 0;
}

.articleWrapper>a>.imageWrapper>img {
  object-fit: cover;
}

.articleWrapper>a>.textStyleWrapper {
  padding: 0.625em;
  width: 100%;
  margin-top: 0.625em
}

