
.articleWrapper {
  width: 20em;
  margin: 0.625em auto;
  border: 0.0625em solid var(--secondary-shade);
}

.articleWrapper>a {
  text-decoration: none;
}

.articleWrapper>a>.imageWrapper {
  width: 100%;
  aspect-ratio: 7 / 4;
}

.articleWrapper>a>.textStyleWrapper {
  padding: 0.625em;
  width: 100%;
  margin-top: 0.625em
}

