.navLinksContainer {
  font-size: var(--ref-size);
  height: 100%;
  display: flex;
  align-items: center;
}

.linksContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.625em;
  padding: 1.25em;
}

.linksContainer.desktopLinksContainer {
  display: flex;
}

.linksContainer.mobileLinksContainer {
  display: none;
}



.linksContainer>.dropdownMenuWrapper {
  height: 100%;
  min-width: 7.5em;
  border-radius: 0.625em 0.625em 0 0;
}

.linksContainer>.dropdownMenuWrapper:not(.active) {}

.linksContainer>.dropdownMenuWrapper.active {
  background-color: var(--tertiary-shade);
}



.linksContainer>.dropdownMenuWrapper .dropdownTitle {
  height: 100%;
  padding-block: 0.625em 0.375em;
  padding-inline: 0.625em;
  border-radius: 0.625em 0.625em 0 0;
  background-color: inherit;
  transition: all linear 0.15s;
}

.linksContainer>.dropdownMenuWrapper:not(.active) .dropdownTitle {
  color: var(--primary-shade)
}

.linksContainer>.dropdownMenuWrapper.active .dropdownTitle {
  background-color: var(--primary-color);
  color: var(--tertiary-shade);
  box-shadow:
    /* top/left:     x‑offset=-0.125em   y=-0.0625em   blur=0.375em   spread=0 */
    -0.125em -0.0625em 0.375em 0 rgba(0, 0, 0, 0.5),
    /* top/right:    x‑offset=0.125em    y=-0.0625em   blur=0.375em   spread=0 */
    0.125em -0.0625em 0.375em 0 rgba(0, 0, 0, 0.5);
}


/* desktop && mobile dropdown content */
.linksContainer>.dropdownMenuWrapper .dropdownContent {
  padding-block: 0.625em;
  padding-inline: 0.625em;
  gap: 0.375em;
  border-radius: 0 0 0.625em 0.625em;
  background-color: var(--tertiary-shade);
  transition: all linear 0.15s;
}

.linksContainer>.dropdownMenuWrapper.active .dropdownContent {
  box-shadow: 0 0 0.375em var(--primary-shade);
}


/* non-dropdown title links */
.linksContainer>a {
  font-size: var(--h5-size);
  height: 100%;
  min-width: 4em;
  border-radius: 0.391em;
  padding-block: 0.391em 0.234em; /* 10px 6px */
  padding-inline: 0.391em;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.15s;
}

.linksContainer>a:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-shade);
  box-shadow: 0 0 0.234em var(--primary-shade);
}



/* dropdown title links */
.linksContainer .dropdownTitle>a {
  font-size: var(--h5-size);
  color: inherit;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* title arrow (>) */
.linksContainer .dropdownTitle>a>p:last-child {
  transform: rotate(90deg);
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

/* dropdown content links */
.linksContainer .dropdownContent>a {
  font-size: var(--big-p-size);
  color: var(--primary-shade);
  height: 1.25em;
  display: flex;
  align-items: center;
  padding-top: 0.125em;
  opacity: 1;
  max-width: 100%;
  max-height: 1.25em;
  transition: all linear 0.15s;
}

.linksContainer .dropdownContent>a:hover {
  color: var(--primary-color);
}

.mobileLinksContainer>.dropdownMenuWrapper .dropdownTitle>svg {
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all linear 0.15s;
}

.mobileLinksContainer>.dropdownMenuWrapper.active .dropdownTitle>svg {
  transform: rotate(90deg);
}

.mobileLinksContainer .dropdownTitle>svg>path {
  stroke: var(--primary-shade);
}

.mobileLinksContainer>.dropdownMenuWrapper.active .dropdownTitle>svg>path {
  stroke: var(--tertiary-shade);
}

@media (max-width: 59.375rem) {

  .linksContainer.desktopLinksContainer {
    display: none;
  }

  .linksContainer.mobileLinksContainer {
    display: flex;
  }

}