.rdp-root {
  font-size: var(--ref-size);

  --rdp-nav-height: 2.75em;
  --rdp-nav_button-width: 1.25em;
  --rdp-nav_button-height: 1em;

  --rdp-day-width: 2.75em;
  --rdp-day-height: 2.75em;
  --rdp-week-height: 2.75em;
  --rdp-week_number-height: 2.75em;
  --rdp-day_button-height: 2.75em;
  --rdp-day_button-width: 2.75em;

  --rdp-weekday-padding: 0.5em 0em;

  --rdp-accent-color: var(--primary-color);
  --rdp-accent-background-color: var(--secondary-shade);
}

.rdp-month_caption {
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rdp-caption_label {
  font-size: var(--h6-size);
  color: var(--rdp-accent-color);
  font-weight: 500;
}

.rdp-nav {
  font-size: var(--ref-size);
  margin-top: calc(1.75rem - 0.75em);
  margin-right: 0.625em;
  display: flex;
  align-items: flex-start;
  gap: 0.625em
}

.rdp-dropdown_root {
  font-size: var(--ref-size);
}


.rdp-day_button,
.rdp-selected,
.rdp-selected>button {
  font-size: var(--ref-size);
}

.rdp-selected:not(.rdp-range_middle)>button {
  color: var(--tertiary-shade);
  background-color: var(--rdp-accent-color);

}