.navbarContainer {
  font-size: var(--ref-size);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.375em var(--primary-shade);
}

.navbar {
  height: 6.25em;
  width: 100%;
  max-width: var(--doc-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
